[submodule "panda"]
	path = panda
	url = ../../twilsonco/panda.git
	branch = tw-0.8.9-dev
[submodule "opendbc"]
	path = opendbc
	url = ../../twilsonco/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../twilsonco/cereal.git
	branch = tw-0.8.9-dev
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
